form, h1 {
	display:block;
	width:80%;
	margin:2% auto;
	font-family:Arial;
	font-size:1em;
	color:#777;
}
h1 {
	text-transform: uppercase;
	font-size:1.5em;
	margin:5% auto 0 auto;
}
h1 i {
	font-size:0.5em;
	color:#fff;
	position:relative;
	vertical-align:top;
	top:-.5em;
	left:1em;
	padding:1%;
	background:#aaa;
}
label, select, option, input {
	display:inline-block;
	width:28%;
	font-family:Arial;
	padding:0.5em;
	margin:1%;
}
.upl{
	position:relative;
	top:-6em;
	left:65%;
	width:10em;
	white-space: nowrap;
	padding:2px;
	background:#fff;
	font-size:0.7em;
}
.upl b {
	font-weight:normal;
	font-size:2em;
}
select{
	padding:0 1em;
}
option {
	display:block;
	width:100%;
	font-size:0.8em;
	padding:0.7em;
}
form div {
	display:block;
}
.result {
	text-align:center;
	white-space: nowrap;
	color:#111;
	font-weight:bold;
	font-size:1.5em;
}